<div class="login">
  <h1>Fazer login</h1>

  <form [formGroup]="form" class="login__form">
    <div class="login__form--itens">
      <div class="login__form--inputs">
        <div class="login-form-input">
          <mat-form-field appearance="fill">
            <mat-label class="label">Email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
            />

            <!-- <mat-error>
            <app-erro-msg
              [label]="'Email'"
              [control]="form.controls.email"
            ></app-erro-msg>
          </mat-error> -->
          </mat-form-field>
          <app-erro-msg
            *ngIf="getErrorCampo('email')"
            [label]="'Email'"
            [control]="form.controls.email"
          ></app-erro-msg>
        </div>

        <div class="login-form-input">
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            />

            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <app-erro-msg
            *ngIf="getErrorCampo('password')"
            [label]="'Senha'"
            [control]="form.controls.password"
          ></app-erro-msg>
        </div>
      </div>

      <div class="login__form--check">
        <div class="login__form--check-lembrar">
          <mat-checkbox class="example-margin">Lembrar-me</mat-checkbox>
        </div>

        <div class="login__form--check-senha">
          <a href="#">Esqueci minha senha</a>
        </div>
      </div>
    </div>

    <div class="form-submit">
      <button [disabled]="form.invalid" (click)="onSubmit()">Entrar</button>
    </div>
  </form>
</div>
