.login {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 400px;
}

.login h1 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .login {
    width: auto;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login__form--inputs {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 20px;
  position: relative;
}

.login__form--check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form-input {
  width: 100%;
  position: relative;
  .mat-mdc-form-field {
    width: 100%;
  }
}

.login__form--check-senha a {
  color: #000;
}

.form-submit button {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: #04d361;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;
}

.form-submit button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
